@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Plus+Jakarta+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cormorant Garamond", serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
