@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Plus+Jakarta+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cormorant Garamond", serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-blackCustom text-whiteCustom;
}

.title {
  @apply text-5xl md:text-7xl;
}

.title-description {
  @apply text-xl md:text-2xl font-thin;
}
