@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.button-unactive {
  border-radius: 5px;
  border: 1px solid #FFF7F7;
  background: rgba(255, 247, 247, 0.30);
  backdrop-filter: blur(12.5px);
}

.glass {
  background: linear-gradient(180deg, #232931 -15.26%, rgba(35, 41, 49, 0.38) -15.25%, rgba(35, 41, 49, 0.15) 100%);
  backdrop-filter: blur(12.5px);
}